.card-group{
      background-color: rgb(50, 118, 84);
}

.card {

    background-color: rgb(50, 118, 84);
}
.aa{

color: brown;

}
.body{
    background-color: rgb(50, 118, 84);
}
.b1{
    color: darkblue;
    text-align: center;
}